{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<html>
<head>
    <title>Successfully Connected with Twitter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <script language="JavaScript">
        <!--
        function refreshParent() {
            opener.location.href = '{{ redirect }}';
            close();
        }
        //-->
    </script>
</head>
<body onLoad="refreshParent()">
</body>
</html>